html, body {
  margin: 0;
  background-color:#f0f0f0;
}

#user_label,#password_label{
	font-size:11px;
}

#password,#username{
	font-size:10px;
}

body {
  font-size: 1rem;
  background-color:#f0f0f0;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

