html, body {
  margin: 0;
  background-color:#f0f0f0;
}
#scontainer{
    width:100%;
    height:480px;
    margin:auto auto;
}
#user_label,#password_label{
	font-size:11px;
}

#password,#username{
	font-size:10px;
}

body {
  font-size: 1rem;
  background-color:#f0f0f0;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}
.collection-item
{
    height:100px;
    font-size:1.8em;
    line-height:3em !important;
    text-align:center;
    cursor:pointer;
}
